@model IEnumerable<webbanhang.Models.NhapHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTableHover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaiKhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhaCungCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.TaiKhoanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.NhaCungCapID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NhapHangID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NhapHangID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NhapHangID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
