@model webbanhang.Models.SanPham

@{
    ViewData["Title"] = "Details";
    var ts = ViewBag.thongso as IQueryable<webbanhang.Models.ThongSo>;
    var ha = ViewBag.hinhanh as IQueryable<webbanhang.Models.HinhAnh>;
    var mt = ViewBag.mota as IQueryable<webbanhang.Models.MoTa>;
    var i = 1;
    var j = 1;
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Chi tiết sản phẩm @Model.TenSanPham</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-danger" href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item"><a class="text-danger" asp-controller="SanPhams" asp-action="Index">Sản phẩm</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.TenSanPham</li>
        </ol>
    </div>

    <a role="button" data-bs-toggle="modal" data-bs-target="#modalTS" class="btn btn-danger mb-1 text-white">Thêm thông số</a>
    <a role="button" data-bs-toggle="modal" data-bs-target="#modalHA" class="btn btn-danger mb-1 mx-3 text-white">Thêm hình ảnh</a>
    <a role="button" data-bs-toggle="modal" data-bs-target="#modalMT" class="btn btn-danger mb-1 text-white">Thêm mô tả</a>

    <div class="row my-3">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="shadow-lg rounded">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-danger">Thông số sản phẩm @Model.TenSanPham</h6>
                    </div>
                    <div class="table-responsive p-3">
                        <table class="table align-items-center table-flush table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Tên thông số</th>
                                    <th>Nội dung</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ts)
                                {
                                    if (item.SanPhamID == Model.SanPhamID)
                                    {
                                        <tr>
                                            <td>@(i++)</td>
                                            <td>@item.TenThongSo</td>
                                            <td>@item.NoiDung</td>
                                            <td><a asp-controller="SanPhams" asp-action="DeleteThongSo" asp-route-id="@item.SanPhamID">Delete</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="shadow-lg rounded">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-danger">Hình ảnh sản phẩm @Model.TenSanPham</h6>
                </div>
                    <div class="table-responsive p-3">
                        <table class="table align-items-center table-flush table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Hình ảnh</th>
                                    <th>Active</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ha)
                                {
                                    if (item.SanPhamID == Model.SanPhamID)
                                    {
                                        <tr>
                                            <td>@(j++)</td>
                                            <td><img src="~/images/products/@item.Anh" width="150" height="100" /></td>
                                            <td>@item.Active</td>
                                            <td><a asp-controller="SanPhams" asp-action="DeleteHinhAnh" asp-route-id="@item.SanPhamID">Delete</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="shadow-lg rounded">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-danger">Hình ảnh sản phẩm @Model.TenSanPham</h6>
                    </div>
                    <div class="table-responsive p-3">
                        <table class="table align-items-center table-flush table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Mô tả</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in mt)
                                {
                                    if (item.SanPhamID == Model.SanPhamID)
                                    {
                                        <tr>
                                            <td>@Html.Raw(item.NoiDungMoTa)</td>
                                            <td><a asp-controller="SanPhams" asp-action="DeleteMoTa" asp-route-id="@item.SanPhamID">Delete</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTS" tabindex="-1" aria-labelledby="modalTSLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center mb-2">
                    <span class="fw-bold fs-3 text-danger">Thêm thông số</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <form asp-action="Details">
                        <input type="hidden" asp-for="SanPhamID" value="@Model.SanPhamID" />
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Tên thông số</label>
                            <input type="text" name="TenThongSo" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Nội dung</label>
                            <input type="text" name="NoiDung" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Thêm" class="btn btn-danger" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHA" tabindex="-1" aria-labelledby="modalHALabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center mb-2">
                    <span class="fw-bold fs-3 text-danger">Thêm hình ảnh</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <form asp-action="Details" enctype="multipart/form-data">
                        <input type="hidden" asp-for="SanPhamID" value="@Model.SanPhamID" />
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Hình ảnh</label>
                            <input type="file" name="file" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Mô tả</label>
                            <select name="Active" class="form-control">
                                <option>--Chọn--</option>
                                <option value="active">Active</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Thêm" class="btn btn-danger" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMT" tabindex="-1" aria-labelledby="modalMTLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center mb-2">
                    <span class="fw-bold fs-3 text-danger">Thêm mô tả</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <form asp-action="Details">
                        <input type="hidden" asp-for="SanPhamID" value="@Model.SanPhamID" />
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Mô tả</label>
                            <textarea type="text" name="NoiDungMoTa" class="form-control" id="editor1"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Thêm" class="btn btn-danger" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    CKEDITOR.replace('editor1');
</script>