@model IEnumerable<webbanhang.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    var i = 1;
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Danh sách sản phẩm</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-danger" href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
        </ol>
    </div>

    <a role="button" data-bs-toggle="modal" data-bs-target="#modalCreate" class="btn btn-danger mb-3 text-white">Thêm mới</a>
    <a role="button" asp-controller="SanPhams" asp-action="Stored" class="btn btn-danger mb-3 ms-3 text-white">Kho</a>

    <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="text-center mb-2">
                        <span class="fw-bold fs-3" style="color:#fc544b">Thêm sản phẩm</span>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="p-2">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div class="form-group mb-3">
                                <label for="DanhMucID" class="control-label">Danh mục</label>
                                <select name="DanhMucID" id="DanhMucID" class="form-control" asp-items="ViewBag.DanhMucID"></select>
                            </div>
                            <div class="form-group">
                                <label for="ThuongHieuID" class="control-label">Thương hiệu</label>
                                <select name="ThuongHieuID" id="ThuongHieuID" class="form-control" asp-items="ViewBag.ThuongHieuID"></select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="TenSanPham" class="control-label mb-1">Tên sản phẩm</label>
                                <input type="text" name="TenSanPham" id="TenSanPham" class="form-control" />
                            </div>
                            <div class="form-group mb-3">
                                <label for="HinhAnh" class="control-label mb-1">Hình ảnh</label>
                                <input type="file" name="file" id="HinhAnh" class="form-control" />
                            </div>
                            <div class="form-group mb-3">
                                <label for="DonGia" class="control-label mb-1">Đơn giá</label>
                                <input type="number" name="DonGia" id="DonGia" min="0"
                                    oninput="tinhSale();" class="form-control" />
                            </div>
                            <div class="form-group mb-3">
                                <label for="Sale" class="control-label mb-1">Sale</label>
                                <input type="number" name="Sale" id="Sale" min="0" max="100" value="0"
                                    class="form-control" oninput="tinhSale();" />
                            </div>
                            <div class="form-group mb-3">
                                <input type="hidden" name="ThanhTien" id="ThanhTien" class="form-control" />
                            </div>
                            <div class="form-group mb-3">
                                <input type="hidden" name="SoLuong" value="0" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Thêm" class="btn btn-danger" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Sản phẩm</h6>
                </div>
                <div class="table-responsive p-3">
                    <table class="table table-hover mb-5" id="dataTableHover">
                        <thead class="thead-light">
                            <tr>
                                <th>STT</th>
                                <th></th>
                                <th>
                                    Danh mục
                                </th>
                                <th>
                                    Thương hiệu
                                </th>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Hình ảnh
                                </th>
                                <th>
                                    Đơn giá
                                </th>
                                <th>
                                    Sale
                                </th>
                                <th>
                                    Thành tiền
                                </th>
                                <th>
                                    Số lượng
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(i++)</td>
                                    <td style="min-width: 150px;">
                                        <a asp-action="Edit" asp-route-id="@item.SanPhamID" class="btn bg-warning disabled"><i class="fa-solid fa-pen-to-square text-white"></i></a>
                                        <a class="btn bg-primary" asp-action="Details" asp-route-id="@item.SanPhamID">
                                            <i class="fa-solid fa-circle-info text-white"></i>
                                        </a>
                                        <a class="btn bg-danger" role="button" data-bs-toggle="modal" data-bs-target="#modalDelete@(i)">
                                            <i class="fa-solid fa-trash text-white"></i>
                                        </a>
                                        <div class="modal fade" id="modalDelete@(i)" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Bạn có chắc chắn xóa?</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/Admin/SanPhams/Delete/@item.SanPhamID" role="button" class="btn btn-danger">Xóa</a>
                                                        <a role="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Hủy bỏ</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ThuongHieu.TenThuongHieu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSanPham)
                                    </td>
                                    <td>
                                        <img src="~/images/products/@Html.DisplayFor(modelItem => item.HinhAnh)" class="img-thumbnail" width="150" height="100" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DonGia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sale)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ThanhTien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoLuong)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function tinhSale(){
        var donGia = document.getElementById("DonGia").value;
        var giamGia = document.getElementById("Sale").value;
        document.getElementById("ThanhTien").value = donGia - (donGia * (giamGia / 100));
    }
</script>