@model IEnumerable<webbanhang.Models.DonDatHang>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Danh sách đơn đặt hàng</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-danger" href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Đơn đặt hàng</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Đơn đặt hàng</h6>
                </div>
                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayLap)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HoTen)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sdt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiaChi)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GhiChu)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TongTien)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayLap)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoTen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sdt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GhiChu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TongTien)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.DonDatHangID">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
