@model IEnumerable<webbanhang.Models.ChiTietNH>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTableHover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NhapHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonViTinhs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NhapHang.NhapHangID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.SanPhamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViTinhs.DonViTinhID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChiTietNHID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChiTietNHID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChiTietNHID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
